 body{
    
 }
 #quiz{
    margin-left:10px;
	background-color: #d2def2;
	padding:10px 20px 10px 20px;
	width:500px;
	float:left;
	border-radius:10px;
 }
 input{
    margin-bottom: 20px;
 }
 #textbox{
    height:25px;
	font-size:16px;
	border-radius:5px;
	border:none;
	padding-left:5px;
 }
 #button{
   background:green;
   border:none;
   border-radius:5px;
   padding:10px;
   color:white;
   font-size:16px;
   transition-duration: .5s;
   margin-top:15px;
 }
 #button:hover{
   background:white;
   border:1px solid green;
   color:black;
   cursor:pointer;
 }
 
 
 #after_submit{
  visibility:hidden;
  background: green;
  padding:10px 20px 10px 20px;
  width:500px;
  border-radius: 20px;
  float:left;
  margin-left:20px;
  color:white;
  font-size:30px;
  
}
#picture{
   height:23opx;
   width:345px;
}
#mc{
   display:inline;
}
